{{>dashboard}}
<div>
    {{!-- {{#each lists |value key|}}
        <p>{{key}}: {{value}}</p>
    {{/each}} --}}
    {{!-- {{#if lists != [] }} --}}
    {{!-- {{#each lists}}
        {{log this}} --}}
        {{!-- <button class="userListButton">{{title}}</button> --}}
    {{!-- {{/each}} --}}
    {{!-- {{/if}} --}}
</div>
{{!-- <div id="displayList">Insert List Here: {{title}}</div> --}}

<script src="/js/profile.js"></script>